@tailwind base;
@tailwind components;
@tailwind utilities;

.tasks .card {
	@apply border-4 border-neutral-content relative;
}
.tasks .card.solved {
	@apply border-dashed bg-transparent;
}

.tasks .card.solved:before {
	content: '';
	@apply absolute inset-0 w-full h-full bg-white z-10 opacity-90;
}

.tasks .card.solved:after {
	content: 'Solved ✅';
	@apply absolute inset-0 w-full h-full z-20 flex items-center justify-center text-xl font-bold;
}

.tickets .card.solved {
	@apply border-dashed border-primary bg-neutral-content border-4 relative;
}

.tickets .card.solved:before {
	content: '';
	@apply absolute inset-0 w-full h-full bg-white z-10 opacity-90;
}

.tickets .card.solved:after {
	content: 'Solved ✅';
	@apply absolute inset-0 w-full h-full z-20 flex items-center justify-center text-xl font-bold;
}
